body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup_form, #login_form, #signup, #if_logged {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name, #gender, #emaildiv, #pwddiv {
  margin: 1em;
}

#signup_button {
  margin: 1em;
  padding: 1em;
}

progress {
  max-width: 100%;
}