body, html
{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 2%;
}

header
{
    background-color: #f3f4f8;
    overflow: auto;
}

.logo_div
{
    /* width: 80%;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
    padding: 2%;
    margin-top: 2%;
}

.logo_div img
{
    width: 14em;
    padding: 0;
    margin: 0;
}

.logo_div p
{
    margin: 0;
    padding: 0;
}

.login-signup img
{
    height: 1.6em;
    width: 1.6em;
    display: inline-block;
    vertical-align: middle;
}

.login-signup
{
    float: right;
}

.login-signup-links
{
    margin: 0.5em;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em;
}

.login-signup-links a:hover
{
    color: grey;
}

.login-signup-buttons
{
    clear: right;
    width: 100%;
    padding: 2%;
    display: none;
}

.button
{
    display: inline-block;
    border: 0.05em solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 20%;
    margin-left: 11%;
    margin-right: 11%;
    text-align: center;
}

.button a
{
    font-size: 1.1em;
}

a
{
    text-decoration: none;
    color: black;
}

.menu_button
{
    background: transparent;
    border: 0;
}

nav
{
    background-color: #f3f4f8;
    padding: 2%;
}

.nav_card
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 0.5em grey;
    text-align: center;
}

.nav_button
{
    display: inline-block;
    margin-top: 4%;
    width: 30%;
    font-weight: bold;
}

.nav_button p:hover
{
    color: grey;
}

.nav_button img
{
    width: 5em;
}

/* .nav_button p
{
    font-weight: bold;
} */

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.7em;
}

.rss, .safety 
{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 
    flex-wrap: nowrap;
    overflow-x: auto;
}

.rss-story, .safety-card
{
    flex: 0 0 auto;
    width: 40%;
    box-shadow: 0 0 0.5em grey;
    margin: 2% 2% 5% 2%;
    padding: 0 0 2% 0;
    border-radius: 0.5em;
}

.safety-card
{
    padding: 2%;
}

.rss-story img
{
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.rss-story p
{
    margin: 0;
    padding:0 2% 0% 2%;
}

.section-title
{
    margin: 2% 2% 0 2%;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
}

.card-title
{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 0 0 2% 0;
}

.card-info
{
    padding: 0;
    margin: 0;
}

@media (orientation: landscape)
{
    .logo_div
    {
        float: left;
    }

    .login-signup
    {
        z-index: 999;
    }

    nav
    {
        width: 80%; 
        float: right;
        margin-top: -16em;
        background: transparent;
    }
    
    .nav_button
    {
        padding: 0;
        margin-top: 1.5em;
    }

    .rss-story, .safety-card
    {
        width: 14%;
        margin: 1% 0.7% 1% 0.5%;
    }

    .rss-story p
    {
        font-size: 1.25em;
        padding-left: 5%;
        padding-right: 5%;
    }

    .rss-story img
    {
        height: 15em;
    }

    .card-title
    {
        font-size: 2em;
    }

    .card-info
    {
        margin-top: 2%;
        font-size: 1.25em;
    }
    
    .section-title
    {
        margin: 1% 1% 0 1%;
    }

    .login-signup a
    {
        font-size: 1.5em;
    }

    .login-signup img
    {
        width: 2em;
        height: 2em;
    }
}