/* styling for card view */

.card {
  display: flex;
  flex-direction: column;
  height: 15em;
  box-shadow: 0em 0em 0.5em gray;
  width: 12em;
  margin: 3vh 1.5vh;
}

.card button {
  background-color: rgb(48, 34, 124);
  padding: 1vh;
  color: white;
  text-align: center;
  align-self: flex-start;
  margin: 3em 0.5em;
}

.card p {
  margin: 0.5em;
}

.card_head {
  font-size: large;
  font-weight: bold;
}

.card_dest {
  font-style: italic;
  font-size: small;
}

/* change style of card for desktop */
@media only screen and (min-width: 999px) {
  .card {
    border: 0.2em dashed black;
    padding: 0.5em;
    box-shadow: none;
  }
}